.Container{
  height: 100%;
  width: 100%;
  display: flex;
  .Input{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background: #698474;
    .InputUrl{
      border:0; // remove default border
      border-bottom:1px solid #eee;
      padding:10px;
      border-radius:10px;
      width: 100%;
      margin-bottom: 20px;
    }
    .Button{
      justify-self: center;
      appearance: none;
      border: 0;
      border-radius: 5px;
      background: #e5e4cc;
      color: #698474;
      padding: 16px 32px;
      font-size: 30px;
      width: 100%;
    }
    .Editing{
      width: 100%;
      display: flex;
      .DefaultState{
        background: #bac7a7;
        margin: 5px;
        width: 40%;
        text-align: center;
      }
      .prevState, .nextState{
        background: #bac7a7;
        margin: 5px;
        width: 30%;
        text-align: center;
      }
    }
    .Error{
      height: 10px;
      width: 100%;
      text-align: center;
      p{
        color: #e5e4cc;
        font-size: 30px;
      }
    }
  }
  .Output{
    padding: 20px;
    width: 80%;
    height: 100%;
    background: #889e81;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .Selects{
      display: flex;
      justify-content: space-between;
      .Select{
        display: block;
        width: 100%;
        padding: .75rem 2.5rem .75rem 1rem;
        background: #e5e4cc;
        border: 1px solid #ccc;
        border-radius: 3px;
        -webkit-appearance: none;
        appearance: none;
        font-family: inherit;
        font-size: 1rem;
        color: #444;
      }
    }
    .selected{
      border: solid 10px #bac7a7 ;
      border-radius: 10px;
      max-height: 500px;
      margin-bottom:auto ;
      margin-top: auto;
      font-size: 4em;
      overflow: auto;
      .select{
        text-align: center;
      }
    }
  }

}

